
body {
    background-color: whitesmoke;
    font-family: Open Sans, Verdana, Tahoma, sans-serif;
}
nav li {
    display: inline-block;
    padding: 10px;
}

img {
    height: 300px;
    width: 500px;
}
.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    min-height: 400px;
  }
  
  .container nav {
    background: lightblue;
  }