nav,header,main,aside,footer,section {
    background: beige;
    border: 2px solid #0A3641;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
  }

  h1 {
    text-align: center;
    float: left;
    display: grid;
    margin: auto;
    padding: 25px;
    color: #0A3641;
  }

  nav {
    min-height: 30px;
  }

  li {
    display: inline-block;
    padding-right: 20px;
  }

  header, footer, aside {
    min-height: 100px;
  }
  
  .home-section {
    background: #FFF;
    min-height: 100px;
  }
  
  nav {grid-area: nav; }
  header {grid-area: header; }
  main {grid-area: main; }
  .home-section:nth-child(1){grid-area: home-section-one;}
  .home-section:nth-child(2){grid-area: home-section-two;}
  .home-section:nth-child(3){grid-area: home-section-three;}
  .home-section:nth-child(5){grid-area: home-section-five;}
  .home-section:nth-child(6){grid-area: home-section-six;}
  .home-section:nth-child(7){grid-area: home-section-seven;}
  aside {grid-area: aside; }
  footer {grid-area: footer; }
  
  body {
      display: grid;
      grid-gap: 10px;
      grid-template-areas: 
      'nav nav'
      'header header'
      'main aside'
      'footer aside'
  }
  
  main {
      display: grid;
      grid-gap: 10px;
      padding: 10px;
      grid-template-areas: 
      'home-section-one home-section-two home-section-three'
      'home-section-five home-section-six home-section-seven'
  }

  button {
    background-color: #0A3641;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    
  }

  .browse:hover {
    background-color: green;
  }

  .center {
   text-align: center;
   padding-top: 25px;
   padding-bottom: 25px;
  }

  .logo {
    object-fit: cover;
    width: 25%;
    height: 25%;
    display: flex 1;
    float: right;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .jacket {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex 1;
    float: left;
  }

 .copyright {
   float:left
 }
  